In [17]:
import pandas as pd

weigth_na = 1
weigth_violation=1
weigth_infraction=2
weigth_misdemeanor=2
weigth_felony=5
weigth_shooting = 8

In [18]:
arrests = pd.read_csv('./../data/1_original/NYPD_Arrest_Data_Year_to_Date.csv')
arrests

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,218375425,09/26/2020,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,M,1,0,25-44,M,WHITE,982285,201682,40.720255,-74.007090,POINT (-74.00709027999993 40.72025522300004)
1,216884434,08/21/2020,175.0,"SEXUAL ABUSE 3,2",233.0,SEX CRIMES,PL 1305500,M,B,43,0,18-24,M,BLACK,1020316,239179,40.823101,-73.869690,POINT (-73.86969046099993 40.82310129900002)
2,216348943,08/09/2020,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200501,F,B,44,0,25-44,F,BLACK,1007481,241648,40.829921,-73.916056,POINT (-73.91605634499997 40.82992107800004)
3,216186332,08/05/2020,157.0,RAPE 1,104.0,RAPE,PL 1303502,F,B,40,0,25-44,M,WHITE HISPANIC,1004926,234532,40.810396,-73.925311,POINT (-73.92531074499993 40.81039601900005)
4,217452757,09/05/2020,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",105.0,ROBBERY,PL 160102A,F,B,48,0,25-44,M,BLACK,1015113,245325,40.839990,-73.888461,POINT (-73.88846125799995 40.83999000400007)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103371,206920909,01/04/2020,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",105.0,ROBBERY,PL 1600500,F,K,81,0,45-64,M,BLACK,1001470,186937,40.679767,-73.937917,POINT (-73.937917165 40.67976710800008)
103372,206916505,01/03/2020,515.0,"CONTROLLED SUBSTANCE,SALE 3",117.0,DANGEROUS DRUGS,PL 2203901,F,B,46,0,25-44,M,WHITE HISPANIC,1007435,248210,40.847932,-73.916200,POINT (-73.91619988299993 40.84793197700003)
103373,206903442,01/02/2020,511.0,"CONTROLLED SUBSTANCE, POSSESSI",235.0,DANGEROUS DRUGS,PL 2200300,M,K,81,1,45-64,M,WHITE HISPANIC,1001284,193892,40.698857,-73.938570,POINT (-73.93857017799998 40.69885734300004)
103374,206918192,01/04/2020,681.0,"CHILD, ENDANGERING WELFARE",233.0,SEX CRIMES,PL 2601001,M,B,46,0,25-44,M,BLACK HISPANIC,1011881,250411,40.853960,-73.900121,POINT (-73.90012087499997 40.85396027400003)
103375,206893589,01/01/2020,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,K,63,0,25-44,M,BLACK,1003600,168088,40.628026,-73.930292,POINT (-73.93029183099996 40.62802632700004)

Filter out arrests wich did not happen in Brooklyn (K)

In [19]:
arrests = arrests[arrests["ARREST_BORO"] == 'K']
arrests

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
5,217412773,09/03/2020,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,K,77,0,45-64,M,BLACK,1003606,185050,40.674583,-73.930222,POINT (-73.93022154099998 40.67458330800008)
7,217526617,09/07/2020,792.0,WEAPONS POSSESSION 1 & 2,118.0,DANGEROUS WEAPONS,PL 2650303,F,K,67,0,18-24,M,BLACK,1003029,176696,40.651655,-73.932325,POINT (-73.93232493699998 40.65165467100008)
8,218518385,09/29/2020,268.0,CRIMINAL MIS 2 & 3,121.0,CRIMINAL MISCHIEF & RELATED OF,PL 1450502,F,K,66,0,18-24,M,BLACK,988164,170927,40.635839,-73.985899,POINT (-73.98589935799998 40.635839049000026)
9,218433006,09/28/2020,113.0,"MENACING,UNCLASSIFIED",344.0,ASSAULT 3 & RELATED OFFENSES,PL 1201401,M,K,72,0,25-44,M,WHITE HISPANIC,981243,174752,40.646338,-74.010837,POINT (-74.01083732399997 40.64633820900008)
10,218545745,09/30/2020,268.0,CRIMINAL MIS 2 & 3,121.0,CRIMINAL MISCHIEF & RELATED OF,PL 1450502,F,K,88,0,25-44,M,WHITE HISPANIC,991703,192337,40.694602,-73.973125,POINT (-73.97312472899995 40.69460248300004)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103362,206918342,01/04/2020,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",113.0,FORGERY,PL 1702500,F,K,60,0,25-44,M,BLACK,986713,149102,40.575934,-73.991135,POINT (-73.99113524499995 40.57593439500005)
103369,207498195,01/06/2020,117.0,RECKLESS ENDANGERMENT 1,126.0,MISCELLANEOUS PENAL LAW,PL 1202500,F,K,75,0,18-24,M,WHITE HISPANIC,1018580,189299,40.686200,-73.876218,POINT (-73.87621750399995 40.686200436000036)
103371,206920909,01/04/2020,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",105.0,ROBBERY,PL 1600500,F,K,81,0,45-64,M,BLACK,1001470,186937,40.679767,-73.937917,POINT (-73.937917165 40.67976710800008)
103373,206903442,01/02/2020,511.0,"CONTROLLED SUBSTANCE, POSSESSI",235.0,DANGEROUS DRUGS,PL 2200300,M,K,81,1,45-64,M,WHITE HISPANIC,1001284,193892,40.698857,-73.938570,POINT (-73.93857017799998 40.69885734300004)
103375,206893589,01/01/2020,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,K,63,0,25-44,M,BLACK,1003600,168088,40.628026,-73.930292,POINT (-73.93029183099996 40.62802632700004)

In [20]:
arrests.drop(columns=['ARREST_KEY','ARREST_DATE','PD_CD','KY_CD','LAW_CODE','ARREST_BORO','ARREST_PRECINCT','JURISDICTION_CODE','AGE_GROUP','PERP_SEX','PERP_RACE','X_COORD_CD','Y_COORD_CD','New Georeferenced Column'], inplace=True)
arrests

,PD_DESC,OFNS_DESC,LAW_CAT_CD,Latitude,Longitude
5,RAPE 1,RAPE,F,40.674583,-73.930222
7,WEAPONS POSSESSION 1 & 2,DANGEROUS WEAPONS,F,40.651655,-73.932325
8,CRIMINAL MIS 2 & 3,CRIMINAL MISCHIEF & RELATED OF,F,40.635839,-73.985899
9,"MENACING,UNCLASSIFIED",ASSAULT 3 & RELATED OFFENSES,M,40.646338,-74.010837
10,CRIMINAL MIS 2 & 3,CRIMINAL MISCHIEF & RELATED OF,F,40.694602,-73.973125
...,...,...,...,...,...
103362,"FORGERY,ETC.,UNCLASSIFIED-FELO",FORGERY,F,40.575934,-73.991135
103369,RECKLESS ENDANGERMENT 1,MISCELLANEOUS PENAL LAW,F,40.686200,-73.876218
103371,"ROBBERY,OPEN AREA UNCLASSIFIED",ROBBERY,F,40.679767,-73.937917
103373,"CONTROLLED SUBSTANCE, POSSESSI",DANGEROUS DRUGS,M,40.698857,-73.938570
103375,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,M,40.628026,-73.930292

In [21]:
arrests.LAW_CAT_CD.unique()

array(['F', 'M', nan, 'V', 'I'], dtype=object)

There are following level of offense (LAW_CAT_CD)
- V violation (de: 'Verstoss')
- I infraction (de: 'Übertrettung')
- M misdemeanor (de: 'Übertrettung')
- F felony (de: 'Verbrechen')

Show some where level of offense is 'Not available'

In [22]:
arrests[pd.isna(arrests['LAW_CAT_CD'])]

,PD_DESC,OFNS_DESC,LAW_CAT_CD,Latitude,Longitude
656,U.S. CODE UNCLASSIFIED,FOR OTHER AUTHORITIES,NaN,40.713038,-73.960362
851,U.S. CODE UNCLASSIFIED,FOR OTHER AUTHORITIES,NaN,40.616807,-74.009280
1129,U.S. CODE UNCLASSIFIED,FOR OTHER AUTHORITIES,NaN,40.697970,-73.989933
1460,U.S. CODE UNCLASSIFIED,FOR OTHER AUTHORITIES,NaN,40.617367,-74.008700
2371,U.S. CODE UNCLASSIFIED,FOR OTHER AUTHORITIES,NaN,40.617367,-74.008700
...,...,...,...,...,...
100613,U.S. CODE UNCLASSIFIED,FOR OTHER AUTHORITIES,NaN,40.697970,-73.989933
101573,U.S. CODE UNCLASSIFIED,FOR OTHER AUTHORITIES,NaN,40.697970,-73.989933
101919,U.S. CODE UNCLASSIFIED,FOR OTHER AUTHORITIES,NaN,40.675274,-73.991165
102611,U.S. CODE UNCLASSIFIED,FOR OTHER AUTHORITIES,NaN,40.665987,-73.918076
102672,U.S. CODE UNCLASSIFIED,FOR OTHER AUTHORITIES,NaN,40.675274,-73.991165

Show some violations

In [23]:
arrests[arrests['LAW_CAT_CD'] == 'V']

,PD_DESC,OFNS_DESC,LAW_CAT_CD,Latitude,Longitude
5190,"NY STATE LAWS,UNCLASSIFIED VIO",OTHER STATE LAWS,V,40.667794,-73.884413
7432,"ADM.CODE,UNCLASSIFIED VIOLATIO",ADMINISTRATIVE CODE,V,40.687280,-73.944696
7672,"NY STATE LAWS,UNCLASSIFIED VIO",OTHER STATE LAWS,V,40.602071,-74.002692
8597,"NY STATE LAWS,UNCLASSIFIED VIO",OTHER STATE LAWS,V,40.666950,-73.929909
11190,DISORDERLY CONDUCT,DISORDERLY CONDUCT,V,40.613514,-73.997801
...,...,...,...,...,...
102863,"A.B.C.,FALSE PROOF OF AGE",OTHER STATE LAWS,V,40.686210,-73.950737
103088,"NY STATE LAWS,UNCLASSIFIED VIO",OTHER STATE LAWS,V,40.575574,-73.981204
103220,"NY STATE LAWS,UNCLASSIFIED VIO",OTHER STATE LAWS,V,40.575574,-73.981204
103321,"ALCOHOLIC BEVERAGES,PUBLIC CON",ADMINISTRATIVE CODE,V,40.699797,-73.981670
103333,"ALCOHOLIC BEVERAGES,PUBLIC CON",ADMINISTRATIVE CODE,V,40.695141,-73.975126

Show some infractions

In [24]:
arrests[arrests['LAW_CAT_CD'] == 'I']

,PD_DESC,OFNS_DESC,LAW_CAT_CD,Latitude,Longitude
13119,LEAVING THE SCENE / PROPERTY DAMAGE / INJURED ...,OTHER TRAFFIC INFRACTION,I,40.576283,-73.987957
16086,LEAVING THE SCENE / PROPERTY DAMAGE / INJURED ...,OTHER TRAFFIC INFRACTION,I,40.664162,-73.946817
17848,LEAVING THE SCENE / PROPERTY DAMAGE / INJURED ...,OTHER TRAFFIC INFRACTION,I,40.726965,-73.953117
19691,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,I,40.655718,-73.945259
23742,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,I,40.676270,-73.892629
29546,UNLICENSED OPERATOR,MOVING INFRACTIONS,I,40.694075,-73.947496
29931,LEAVING THE SCENE / PROPERTY DAMAGE / INJURED ...,OTHER TRAFFIC INFRACTION,I,40.594063,-73.960869
36075,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,I,40.637226,-73.932736
37312,UNLICENSED OPERATOR,MOVING INFRACTIONS,I,40.658513,-73.914693
52011,UNLICENSED OPERATOR,MOVING INFRACTIONS,I,40.686952,-73.947531
65607,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,I,40.681601,-74.007926
65639,"NY STATE LAWS,UNCLASSIFIED VIO",OTHER STATE LAWS,I,40.688624,-73.989170
68061,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,I,40.636115,-74.022913
69988,"TRAFFIC,UNCLASSIFIED MISDEMEAN",VEHICLE AND TRAFFIC LAWS,I,40.678266,-74.002230
81413,"ADM.CODE,UNCLASSIFIED VIOLATIO",ADMINISTRATIVE CODE,I,40.648867,-73.950822
82747,IMPROPER LIGHTS,OTHER TRAFFIC INFRACTION,I,40.677615,-74.002745
83181,"TRAFFIC,UNCLASSIFIED MISDEMEAN",VEHICLE AND TRAFFIC LAWS,I,40.683774,-73.986996
84433,"NY STATE LAWS,UNCLASSIFIED VIO",OTHER STATE LAWS,I,40.659958,-73.994880
86050,FAIL TO SIGNAL,OTHER TRAFFIC INFRACTION,I,40.632642,-74.012536
86145,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,I,40.648474,-74.006823
86701,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,I,40.621501,-74.026215
86976,"TRAFFIC,UNCLASSIFIED MISDEMEAN",VEHICLE AND TRAFFIC LAWS,I,40.674750,-73.997770
87843,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,I,40.676902,-73.900047
93497,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,I,40.674739,-74.000286
94913,"TRAFFIC,UNCLASSIFIED MISDEMEAN",VEHICLE AND TRAFFIC LAWS,I,40.675790,-74.001397
98354,IMPROPER LIGHTS,OTHER TRAFFIC INFRACTION,I,40.678584,-74.003571
100062,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,I,40.622807,-74.028351

Show some misdemeanor

In [25]:
arrests[arrests['LAW_CAT_CD'] == 'M']

,PD_DESC,OFNS_DESC,LAW_CAT_CD,Latitude,Longitude
9,"MENACING,UNCLASSIFIED",ASSAULT 3 & RELATED OFFENSES,M,40.646338,-74.010837
18,"BURGLARS TOOLS,UNCLASSIFIED",BURGLAR'S TOOLS,M,40.696185,-73.980358
21,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,M,40.640145,-74.017264
24,"LARCENY,PETIT FROM OPEN AREAS,",PETIT LARCENY,M,40.683363,-73.974867
33,"LARCENY,PETIT FROM OPEN AREAS,",PETIT LARCENY,M,40.599969,-73.946151
...,...,...,...,...,...
103349,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,M,40.671111,-73.913563
103356,"CRIMINAL MISCHIEF,UNCLASSIFIED 4",CRIMINAL MISCHIEF & RELATED OF,M,40.671111,-73.913563
103360,"LARCENY,PETIT FROM OPEN AREAS,",PETIT LARCENY,M,40.683701,-74.000506
103373,"CONTROLLED SUBSTANCE, POSSESSI",DANGEROUS DRUGS,M,40.698857,-73.938570
103375,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,M,40.628026,-73.930292

Show some felonies

In [26]:
arrests[arrests['LAW_CAT_CD'] == 'F']

,PD_DESC,OFNS_DESC,LAW_CAT_CD,Latitude,Longitude
5,RAPE 1,RAPE,F,40.674583,-73.930222
7,WEAPONS POSSESSION 1 & 2,DANGEROUS WEAPONS,F,40.651655,-73.932325
8,CRIMINAL MIS 2 & 3,CRIMINAL MISCHIEF & RELATED OF,F,40.635839,-73.985899
10,CRIMINAL MIS 2 & 3,CRIMINAL MISCHIEF & RELATED OF,F,40.694602,-73.973125
17,"ROBBERY,OPEN AREA UNCLASSIFIED",ROBBERY,F,40.706290,-73.950350
...,...,...,...,...,...
103350,"PUBLIC ADMINISTRATION,UNCLASSI",MISCELLANEOUS PENAL LAW,F,40.611446,-74.011855
103354,"CONTROLLED SUBSTANCE,INTENT TO",DANGEROUS DRUGS,F,40.689405,-73.981117
103362,"FORGERY,ETC.,UNCLASSIFIED-FELO",FORGERY,F,40.575934,-73.991135
103369,RECKLESS ENDANGERMENT 1,MISCELLANEOUS PENAL LAW,F,40.686200,-73.876218
103371,"ROBBERY,OPEN AREA UNCLASSIFIED",ROBBERY,F,40.679767,-73.937917

In [27]:
from collections import defaultdict

weigths = defaultdict(lambda : weigth_na)
weigths['V'] = weigth_violation
weigths['M'] = weigth_misdemeanor
weigths['I'] = weigth_infraction
weigths['F'] = weigth_felony

arrests["Weight"] = arrests.apply(lambda row: weigths[row["LAW_CAT_CD"]], axis=1)
arrests

,PD_DESC,OFNS_DESC,LAW_CAT_CD,Latitude,Longitude,Weight
5,RAPE 1,RAPE,F,40.674583,-73.930222,5
7,WEAPONS POSSESSION 1 & 2,DANGEROUS WEAPONS,F,40.651655,-73.932325,5
8,CRIMINAL MIS 2 & 3,CRIMINAL MISCHIEF & RELATED OF,F,40.635839,-73.985899,5
9,"MENACING,UNCLASSIFIED",ASSAULT 3 & RELATED OFFENSES,M,40.646338,-74.010837,2
10,CRIMINAL MIS 2 & 3,CRIMINAL MISCHIEF & RELATED OF,F,40.694602,-73.973125,5
...,...,...,...,...,...,...
103362,"FORGERY,ETC.,UNCLASSIFIED-FELO",FORGERY,F,40.575934,-73.991135,5
103369,RECKLESS ENDANGERMENT 1,MISCELLANEOUS PENAL LAW,F,40.686200,-73.876218,5
103371,"ROBBERY,OPEN AREA UNCLASSIFIED",ROBBERY,F,40.679767,-73.937917,5
103373,"CONTROLLED SUBSTANCE, POSSESSI",DANGEROUS DRUGS,M,40.698857,-73.938570,2
103375,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,M,40.628026,-73.930292,2

In [28]:
arrests.drop(columns=['PD_DESC','OFNS_DESC','LAW_CAT_CD'], inplace=True)
arrests

         Latitude  Longitude  Weight
5       40.674583 -73.930222       5
7       40.651655 -73.932325       5
8       40.635839 -73.985899       5
9       40.646338 -74.010837       2
10      40.694602 -73.973125       5
...           ...        ...     ...
103362  40.575934 -73.991135       5
103369  40.686200 -73.876218       5
103371  40.679767 -73.937917       5
103373  40.698857 -73.938570       2
103375  40.628026 -73.930292       2

[27962 rows x 3 columns]

In [29]:
shootings = pd.read_csv('./../data/1_original/NYPD_Shooting_Incident_Data_Year_To_Date.csv')
shootings

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,216972672,08/24/2020,15:11:00,BRONX,44,0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1004279,244490,40.837729,-73.927618,POINT (-73.92761826599997 40.83772938900006)
1,217953750,09/16/2020,16:50:00,MANHATTAN,33,0,NaN,False,25-44,M,WHITE HISPANIC,25-44,F,WHITE HISPANIC,999855,244888,40.838831,-73.943605,POINT (-73.94360531399997 40.83883070900004)
2,217540562,09/07/2020,02:49:00,BROOKLYN,71,0,NaN,False,<18,M,BLACK,45-64,F,BLACK,997889,182027,40.666297,-73.950838,POINT (-73.95083788699996 40.66629650100003)
3,217773056,09/12/2020,00:40:00,BROOKLYN,75,0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1015238,180730,40.662693,-73.888307,POINT (-73.88830715999995 40.66269280500006)
4,218560117,09/30/2020,21:07:00,BROOKLYN,75,2,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,BLACK,1019084,183993,40.671635,-73.874428,POINT (-73.87442765599997 40.671634710000035)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1496,216360325,08/09/2020,22:40:00,BROOKLYN,79,2,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,18-24,M,BLACK,995619,190846,40.690506,-73.959006,POINT (-73.95900552099994 40.69050586900005)
1497,213748379,06/01/2020,19:14:00,BROOKLYN,83,0,NaN,False,18-24,M,BLACK,18-24,M,BLACK,1006880,190544,40.689655,-73.918400,POINT (-73.91840006999998 40.689655320000035)
1498,216927396,08/22/2020,06:00:00,QUEENS,113,0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1051329,196646,40.706179,-73.758061,POINT (-73.75806147399999 40.70617856900003)
1499,212640530,05/02/2020,19:50:00,QUEENS,114,0,NaN,False,NaN,NaN,NaN,18-24,M,WHITE HISPANIC,1009645,213978,40.753968,-73.908341,POINT (-73.90834136499996 40.753968462000046)
1500,213099073,05/14/2020,01:03:00,QUEENS,100,0,NaN,True,25-44,M,BLACK,18-24,M,BLACK,1036176,153315,40.587347,-73.813049,POINT (-73.81304853899996 40.58734650400004)

Filter out shootings which did not happen in Brooklyn (BROOKLYN)

In [30]:
shootings = shootings[shootings["BORO"] == 'BROOKLYN']
shootings

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
2,217540562,09/07/2020,02:49:00,BROOKLYN,71,0,NaN,False,<18,M,BLACK,45-64,F,BLACK,997889,182027,40.666297,-73.950838,POINT (-73.95083788699996 40.66629650100003)
3,217773056,09/12/2020,00:40:00,BROOKLYN,75,0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1015238,180730,40.662693,-73.888307,POINT (-73.88830715999995 40.66269280500006)
4,218560117,09/30/2020,21:07:00,BROOKLYN,75,2,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,BLACK,1019084,183993,40.671635,-73.874428,POINT (-73.87442765599997 40.671634710000035)
8,218567380,09/30/2020,01:52:00,BROOKLYN,60,0,COMMERCIAL BLDG,False,NaN,NaN,NaN,25-44,M,UNKNOWN,988584,150694,40.580303,-73.984399,POINT (-73.98439908599995 40.58030340400006)
9,217594075,09/08/2020,22:40:00,BROOKLYN,79,2,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,45-64,F,WHITE HISPANIC,998184,193621,40.698119,-73.949751,POINT (-73.94975054899999 40.698118935000025)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1490,214948388,07/05/2020,00:43:00,BROOKLYN,75,0,NaN,True,NaN,NaN,NaN,18-24,M,BLACK HISPANIC,1017869,184766,40.673761,-73.878804,POINT (-73.87880377199998 40.673761118000066)
1493,211964521,04/11/2020,19:58:00,BROOKLYN,77,0,NaN,True,NaN,NaN,NaN,25-44,M,BLACK,1004952,183648,40.670732,-73.925373,POINT (-73.92537341399996 40.67073208700003)
1495,214513455,06/23/2020,22:04:00,BROOKLYN,63,0,PVT HOUSE,False,NaN,NaN,NaN,25-44,U,BLACK,1004029,167694,40.626944,-73.928747,POINT (-73.92874748599996 40.62694393200008)
1496,216360325,08/09/2020,22:40:00,BROOKLYN,79,2,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,18-24,M,BLACK,995619,190846,40.690506,-73.959006,POINT (-73.95900552099994 40.69050586900005)
1497,213748379,06/01/2020,19:14:00,BROOKLYN,83,0,NaN,False,18-24,M,BLACK,18-24,M,BLACK,1006880,190544,40.689655,-73.918400,POINT (-73.91840006999998 40.689655320000035)

Drop all columns except position and add a weigth (constant)

In [31]:
shootings.drop(columns=['INCIDENT_KEY','OCCUR_DATE','OCCUR_TIME','BORO','PRECINCT','JURISDICTION_CODE','LOCATION_DESC','STATISTICAL_MURDER_FLAG','PERP_AGE_GROUP','PERP_SEX','PERP_RACE','VIC_AGE_GROUP','VIC_SEX','VIC_RACE','X_COORD_CD','Y_COORD_CD','New Georeferenced Column'], inplace=True)
shootings['Weight'] = weigth_shooting
shootings

       Latitude  Longitude  Weight
2     40.666297 -73.950838       8
3     40.662693 -73.888307       8
4     40.671635 -73.874428       8
8     40.580303 -73.984399       8
9     40.698119 -73.949751       8
...         ...        ...     ...
1490  40.673761 -73.878804       8
1493  40.670732 -73.925373       8
1495  40.626944 -73.928747       8
1496  40.690506 -73.959006       8
1497  40.689655 -73.918400       8

[636 rows x 3 columns]

In [32]:
crimes = pd.concat([arrests, shootings])
crimes.rename(columns = {'New Georeferenced Column':'location'}, inplace = True) 
crimes.to_csv('./../data/3_prepared/crimes.csv', ';')
crimes

       Latitude  Longitude  Weight
5     40.674583 -73.930222       5
7     40.651655 -73.932325       5
8     40.635839 -73.985899       5
9     40.646338 -74.010837       2
10    40.694602 -73.973125       5
...         ...        ...     ...
1490  40.673761 -73.878804       8
1493  40.670732 -73.925373       8
1495  40.626944 -73.928747       8
1496  40.690506 -73.959006       8
1497  40.689655 -73.918400       8

[28598 rows x 3 columns]