In [1]:
import pandas as pd

weigth_na = 1
weigth_violation=1
weigth_infraction=2
weigth_misdemeanor=2
weigth_felony=5
weigth_shooting = 8

In [2]:
arrests = pd.read_csv('./../data/original/NYPD_Arrest_Data__Year_to_Date_.csv')
arrests

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,208368444,01/22/2020,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",113.0,FORGERY,PL 1702500,F,K,69,0,25-44,M,BLACK,1012161,178176,40.655693,-73.899409,POINT (-73.89940857299997 40.655692874000074)
1,209487362,02/13/2020,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,B,46,0,45-64,M,BLACK,1011751,250275,40.853587,-73.900591,POINT (-73.90059135599995 40.85358740100002)
2,208853853,02/01/2020,779.0,"PUBLIC ADMINISTRATION,UNCLASSI",126.0,MISCELLANEOUS PENAL LAW,PL 215510B,F,Q,115,0,65+,M,WHITE HISPANIC,1015995,212787,40.750679,-73.885427,POINT (-73.88542747799994 40.75067895500007)
3,209621232,02/16/2020,905.0,"INTOXICATED DRIVING,ALCOHOL",347.0,INTOXICATED & IMPAIRED DRIVING,VTL11920U2,M,B,45,0,45-64,M,WHITE HISPANIC,1032817,257638,40.873706,-73.824389,POINT (-73.82438917799993 40.87370582600005)
4,208350647,01/22/2020,259.0,"CRIMINAL MISCHIEF,UNCLASSIFIED 4",351.0,CRIMINAL MISCHIEF & RELATED OF,PL 1450001,M,B,43,0,18-24,F,BLACK,1020183,239283,40.823387,-73.870170,POINT (-73.87017045 40.82338729100008)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103371,210091751,02/26/2020,439.0,"LARCENY,GRAND FROM OPEN AREAS, UNATTENDED",109.0,GRAND LARCENY,PL 1553004,F,M,17,0,25-44,F,BLACK,992793,215443,40.758022,-73.969165,POINT (-73.96916468499995 40.75802185400005)
103372,211035903,03/15/2020,490.0,"STOLEN PROPERTY 3,POSSESSION",232.0,POSSESSION OF STOLEN PROPERTY,PL 1654000,M,M,1,1,45-64,M,BLACK,982806,201821,40.720637,-74.005211,POINT (-74.00521077799993 40.72063684600005)
103373,211633815,03/31/2020,904.0,"INTOXICATED DRIVING,ALCOHOL",119.0,INTOXICATED/IMPAIRED DRIVING,VTL11920E2,F,S,120,0,25-44,M,WHITE HISPANIC,965889,163012,40.614096,-74.066134,POINT (-74.06613431099998 40.61409586700007)
103374,209884845,02/21/2020,181.0,"IMPRISONMENT 2,UNLAWFUL",355.0,OFFENSES AGAINST THE PERSON,PL 1350500,M,Q,102,0,25-44,M,BLACK,1030948,190638,40.689819,-73.831613,POINT (-73.831612927 40.68981906700003)
103375,211189067,03/18/2020,244.0,"BURGLARY,UNCLASSIFIED,UNKNOWN",107.0,BURGLARY,PL 1402000,F,M,18,0,45-64,M,BLACK,988211,218129,40.765397,-73.985702,POINT (-73.98570226399994 40.765397475000036)

Filter out arrests wich did not happen in Brooklyn (K)

In [3]:
arrests = arrests[arrests["ARREST_BORO"] == 'K']
arrests

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,208368444,01/22/2020,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",113.0,FORGERY,PL 1702500,F,K,69,0,25-44,M,BLACK,1012161,178176,40.655693,-73.899409,POINT (-73.89940857299997 40.655692874000074)
5,207688725,01/09/2020,339.0,"LARCENY,PETIT FROM OPEN AREAS,",341.0,PETIT LARCENY,PL 1552500,M,K,63,0,18-24,M,BLACK,1003772,161309,40.609419,-73.929692,POINT (-73.92969179199997 40.609419006000046)
6,208109981,01/17/2020,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,K,90,0,45-64,M,BLACK,1003954,197201,40.707934,-73.928931,POINT (-73.92893143599997 40.707934228000056)
7,207743103,01/11/2020,168.0,SODOMY 1,116.0,SEX CRIMES,PL 1305004,F,K,77,0,45-64,M,BLACK,1003606,185050,40.674583,-73.930222,POINT (-73.93022154099998 40.67458330800008)
10,209610142,02/16/2020,969.0,"TRAFFIC,UNCLASSIFIED INFRACTIO",881.0,OTHER TRAFFIC INFRACTION,VTL051101A,M,K,60,0,25-44,M,WHITE,989267,150295,40.579208,-73.981941,POINT (-73.98194058799999 40.579207868000026)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103338,210065016,02/25/2020,244.0,"BURGLARY,UNCLASSIFIED,UNKNOWN",107.0,BURGLARY,PL 1402501,F,K,71,0,25-44,M,BLACK,999005,181250,40.664162,-73.946817,POINT (-73.94681681999998 40.66416202000005)
103341,210988195,03/13/2020,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,K,70,0,45-64,F,BLACK,996352,172912,40.641280,-73.956395,POINT (-73.95639455799993 40.64128004900005)
103350,211600652,03/31/2020,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200502,F,K,94,0,25-44,M,WHITE HISPANIC,997245,204130,40.726965,-73.953117,POINT (-73.95311662899996 40.726965067000044)
103353,211860241,04/08/2020,750.0,RESISTING ARREST,359.0,OFFENSES AGAINST PUBLIC ADMINI,PL 2053000,M,K,72,0,45-64,M,BLACK,980019,175721,40.648997,-74.015249,POINT (-74.01524867999996 40.648997405000046)
103354,210611345,03/06/2020,339.0,"LARCENY,PETIT FROM OPEN AREAS,",341.0,PETIT LARCENY,PL 1552500,M,K,60,0,65+,M,WHITE,991686,150568,40.579956,-73.973232,POINT (-73.97323205799995 40.57995550100002)

In [4]:
arrests.drop(columns=['ARREST_KEY','ARREST_DATE','PD_CD','KY_CD','LAW_CODE','ARREST_BORO','ARREST_PRECINCT','JURISDICTION_CODE','AGE_GROUP','PERP_SEX','PERP_RACE','X_COORD_CD','Y_COORD_CD','New Georeferenced Column'], inplace=True)
arrests

,PD_DESC,OFNS_DESC,LAW_CAT_CD,Latitude,Longitude
0,"FORGERY,ETC.,UNCLASSIFIED-FELO",FORGERY,F,40.655693,-73.899409
5,"LARCENY,PETIT FROM OPEN AREAS,",PETIT LARCENY,M,40.609419,-73.929692
6,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,M,40.707934,-73.928931
7,SODOMY 1,SEX CRIMES,F,40.674583,-73.930222
10,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,M,40.579208,-73.981941
...,...,...,...,...,...
103338,"BURGLARY,UNCLASSIFIED,UNKNOWN",BURGLARY,F,40.664162,-73.946817
103341,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,M,40.641280,-73.956395
103350,"ASSAULT 2,1,UNCLASSIFIED",FELONY ASSAULT,F,40.726965,-73.953117
103353,RESISTING ARREST,OFFENSES AGAINST PUBLIC ADMINI,M,40.648997,-74.015249
103354,"LARCENY,PETIT FROM OPEN AREAS,",PETIT LARCENY,M,40.579956,-73.973232

In [5]:
arrests.LAW_CAT_CD.unique()

array(['F', 'M', nan, 'V', 'I'], dtype=object)

There are following level of offense (LAW_CAT_CD)
- V violation (de: 'Verstoss')
- I infraction (de: 'Übertrettung')
- M misdemeanor (de: 'Übertrettung')
- F felony (de: 'Verbrechen')

Show some where level of offense is 'Not available'

In [6]:
arrests[pd.isna(arrests['LAW_CAT_CD'])]

,PD_DESC,OFNS_DESC,LAW_CAT_CD,Latitude,Longitude
68,U.S. CODE UNCLASSIFIED,FOR OTHER AUTHORITIES,NaN,40.615443,-73.928947
1219,U.S. CODE UNCLASSIFIED,FOR OTHER AUTHORITIES,NaN,40.697970,-73.989933
1227,U.S. CODE UNCLASSIFIED,FOR OTHER AUTHORITIES,NaN,40.693425,-73.988704
2242,U.S. CODE UNCLASSIFIED,FOR OTHER AUTHORITIES,NaN,40.697970,-73.989933
3397,U.S. CODE UNCLASSIFIED,FOR OTHER AUTHORITIES,NaN,40.697970,-73.989933
...,...,...,...,...,...
96567,U.S. CODE UNCLASSIFIED,FOR OTHER AUTHORITIES,NaN,40.695367,-73.983243
96809,U.S. CODE UNCLASSIFIED,FOR OTHER AUTHORITIES,NaN,40.690846,-73.981023
101207,U.S. CODE UNCLASSIFIED,FOR OTHER AUTHORITIES,NaN,40.675976,-73.963023
101431,U.S. CODE UNCLASSIFIED,FOR OTHER AUTHORITIES,NaN,40.675976,-73.963023
102578,U.S. CODE UNCLASSIFIED,FOR OTHER AUTHORITIES,NaN,40.650177,-73.952417

Show some violations

In [7]:
arrests[arrests['LAW_CAT_CD'] == 'V']

,PD_DESC,OFNS_DESC,LAW_CAT_CD,Latitude,Longitude
287,"ALCOHOLIC BEVERAGES,PUBLIC CON",ADMINISTRATIVE CODE,V,40.650154,-74.005076
666,"HARASSMENT,SUBD 3,4,5",HARRASSMENT 2,V,40.700511,-73.941540
956,"NY STATE LAWS,UNCLASSIFIED VIO",OTHER STATE LAWS,V,40.579983,-73.974636
1423,"NY STATE LAWS,UNCLASSIFIED VIO",OTHER STATE LAWS,V,40.576995,-73.981524
1456,"NY STATE LAWS,UNCLASSIFIED VIO",OTHER STATE LAWS,V,40.669411,-73.942198
...,...,...,...,...,...
101807,"ALCOHOLIC BEVERAGES,PUBLIC CON",ADMINISTRATIVE CODE,V,40.684817,-73.970702
101985,"MARIJUANA, POSSESSION",MISCELLANEOUS PENAL LAW,V,40.640271,-74.019026
102457,"NY STATE LAWS,UNCLASSIFIED VIO",OTHER STATE LAWS,V,40.575574,-73.981204
102517,"HARASSMENT,SUBD 3,4,5",HARRASSMENT 2,V,40.646965,-74.020938
103276,"NY STATE LAWS,UNCLASSIFIED VIO",OTHER STATE LAWS,V,40.680044,-73.905494

Show some infractions

In [8]:
arrests[arrests['LAW_CAT_CD'] == 'I']

,PD_DESC,OFNS_DESC,LAW_CAT_CD,Latitude,Longitude
3087,"ADM.CODE,UNCLASSIFIED VIOLATIO",ADMINISTRATIVE CODE,I,40.648867,-73.950822
4423,IMPROPER LIGHTS,OTHER TRAFFIC INFRACTION,I,40.677615,-74.002745
4857,"TRAFFIC,UNCLASSIFIED MISDEMEAN",VEHICLE AND TRAFFIC LAWS,I,40.683774,-73.986996
6109,"NY STATE LAWS,UNCLASSIFIED VIO",OTHER STATE LAWS,I,40.659958,-73.994880
7729,FAIL TO SIGNAL,OTHER TRAFFIC INFRACTION,I,40.632642,-74.012536
7824,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,I,40.648474,-74.006823
8382,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,I,40.621501,-74.026215
8658,"TRAFFIC,UNCLASSIFIED MISDEMEAN",VEHICLE AND TRAFFIC LAWS,I,40.674750,-73.997770
9526,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,I,40.676902,-73.900047
15185,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,I,40.674739,-74.000286
16602,"TRAFFIC,UNCLASSIFIED MISDEMEAN",VEHICLE AND TRAFFIC LAWS,I,40.675790,-74.001397
20046,IMPROPER LIGHTS,OTHER TRAFFIC INFRACTION,I,40.678584,-74.003571
21770,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,I,40.622807,-74.028351
38210,LEAVING THE SCENE / PROPERTY DAMAGE / INJURED ...,OTHER TRAFFIC INFRACTION,I,40.576283,-73.987957
41177,LEAVING THE SCENE / PROPERTY DAMAGE / INJURED ...,OTHER TRAFFIC INFRACTION,I,40.664162,-73.946817
42939,LEAVING THE SCENE / PROPERTY DAMAGE / INJURED ...,OTHER TRAFFIC INFRACTION,I,40.726965,-73.953117
44782,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,I,40.655718,-73.945259
48833,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,I,40.676270,-73.892629
54637,UNLICENSED OPERATOR,MOVING INFRACTIONS,I,40.694075,-73.947496
55022,LEAVING THE SCENE / PROPERTY DAMAGE / INJURED ...,OTHER TRAFFIC INFRACTION,I,40.594063,-73.960869
61161,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,I,40.637226,-73.932736
62398,UNLICENSED OPERATOR,MOVING INFRACTIONS,I,40.658513,-73.914693
77080,UNLICENSED OPERATOR,MOVING INFRACTIONS,I,40.686952,-73.947531
90664,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,I,40.681601,-74.007926
90695,"NY STATE LAWS,UNCLASSIFIED VIO",OTHER STATE LAWS,I,40.688624,-73.989170
93117,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,I,40.636115,-74.022913
95040,"TRAFFIC,UNCLASSIFIED MISDEMEAN",VEHICLE AND TRAFFIC LAWS,I,40.678266,-74.002230

Show some misdemeanor

In [9]:
arrests[arrests['LAW_CAT_CD'] == 'M']

,PD_DESC,OFNS_DESC,LAW_CAT_CD,Latitude,Longitude
5,"LARCENY,PETIT FROM OPEN AREAS,",PETIT LARCENY,M,40.609419,-73.929692
6,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,M,40.707934,-73.928931
10,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,M,40.579208,-73.981941
22,"IMPERSONATION 2, PUBLIC SERVAN",FRAUDS,M,40.703414,-73.964743
40,"TRAFFIC,UNCLASSIFIED MISDEMEAN",VEHICLE AND TRAFFIC LAWS,M,40.623691,-74.027992
...,...,...,...,...,...
103322,"PUBLIC ADMINISTATION,UNCLASS M",OFFENSES AGAINST PUBLIC ADMINI,M,40.653931,-73.928665
103329,OBSTR BREATH/CIRCUL,ASSAULT 3 & RELATED OFFENSES,M,40.634480,-74.030976
103341,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,M,40.641280,-73.956395
103353,RESISTING ARREST,OFFENSES AGAINST PUBLIC ADMINI,M,40.648997,-74.015249
103354,"LARCENY,PETIT FROM OPEN AREAS,",PETIT LARCENY,M,40.579956,-73.973232

Show some felonies

In [10]:
arrests[arrests['LAW_CAT_CD'] == 'F']

,PD_DESC,OFNS_DESC,LAW_CAT_CD,Latitude,Longitude
0,"FORGERY,ETC.,UNCLASSIFIED-FELO",FORGERY,F,40.655693,-73.899409
7,SODOMY 1,SEX CRIMES,F,40.674583,-73.930222
18,"ASSAULT 2,1,UNCLASSIFIED",FELONY ASSAULT,F,40.706290,-73.950350
20,STRANGULATION 1ST,FELONY ASSAULT,F,40.596446,-73.936781
29,"ROBBERY,OPEN AREA UNCLASSIFIED",ROBBERY,F,40.666540,-73.879325
...,...,...,...,...,...
103313,MAKING TERRORISTIC THREAT,MISCELLANEOUS PENAL LAW,F,40.674600,-73.930575
103325,"ASSAULT 2,1,UNCLASSIFIED",FELONY ASSAULT,F,40.688489,-73.983782
103330,AGGRAVATED CRIMINAL CONTEMPT,MISCELLANEOUS PENAL LAW,F,40.688743,-73.944987
103338,"BURGLARY,UNCLASSIFIED,UNKNOWN",BURGLARY,F,40.664162,-73.946817
103350,"ASSAULT 2,1,UNCLASSIFIED",FELONY ASSAULT,F,40.726965,-73.953117

In [11]:
from collections import defaultdict

weigths = defaultdict(lambda : weigth_na)
weigths['V'] = weigth_violation
weigths['M'] = weigth_misdemeanor
weigths['I'] = weigth_infraction
weigths['F'] = weigth_felony

arrests["Weight"] = arrests.apply(lambda row: weigths[row["LAW_CAT_CD"]], axis=1)
arrests

,PD_DESC,OFNS_DESC,LAW_CAT_CD,Latitude,Longitude,Weight
0,"FORGERY,ETC.,UNCLASSIFIED-FELO",FORGERY,F,40.655693,-73.899409,5
5,"LARCENY,PETIT FROM OPEN AREAS,",PETIT LARCENY,M,40.609419,-73.929692,2
6,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,M,40.707934,-73.928931,2
7,SODOMY 1,SEX CRIMES,F,40.674583,-73.930222,5
10,"TRAFFIC,UNCLASSIFIED INFRACTIO",OTHER TRAFFIC INFRACTION,M,40.579208,-73.981941,2
...,...,...,...,...,...,...
103338,"BURGLARY,UNCLASSIFIED,UNKNOWN",BURGLARY,F,40.664162,-73.946817,5
103341,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,M,40.641280,-73.956395,2
103350,"ASSAULT 2,1,UNCLASSIFIED",FELONY ASSAULT,F,40.726965,-73.953117,5
103353,RESISTING ARREST,OFFENSES AGAINST PUBLIC ADMINI,M,40.648997,-74.015249,2
103354,"LARCENY,PETIT FROM OPEN AREAS,",PETIT LARCENY,M,40.579956,-73.973232,2

In [12]:
arrests.drop(columns=['PD_DESC','OFNS_DESC','LAW_CAT_CD'], inplace=True)
arrests

         Latitude  Longitude  Weight
0       40.655693 -73.899409       5
5       40.609419 -73.929692       2
6       40.707934 -73.928931       2
7       40.674583 -73.930222       5
10      40.579208 -73.981941       2
...           ...        ...     ...
103338  40.664162 -73.946817       5
103341  40.641280 -73.956395       2
103350  40.726965 -73.953117       5
103353  40.648997 -74.015249       2
103354  40.579956 -73.973232       2

[27962 rows x 3 columns]

In [13]:
shootings = pd.read_csv('./../data/original/NYPD_Shooting_Incident_Data__Year_To_Date_.csv')
shootings

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,216972672,08/24/2020,15:11:00,BRONX,44,0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1004279,244490,40.837729,-73.927618,POINT (-73.92761826599997 40.83772938900006)
1,217953750,09/16/2020,16:50:00,MANHATTAN,33,0,NaN,False,25-44,M,WHITE HISPANIC,25-44,F,WHITE HISPANIC,999855,244888,40.838831,-73.943605,POINT (-73.94360531399997 40.83883070900004)
2,217540562,09/07/2020,02:49:00,BROOKLYN,71,0,NaN,False,<18,M,BLACK,45-64,F,BLACK,997889,182027,40.666297,-73.950838,POINT (-73.95083788699996 40.66629650100003)
3,217773056,09/12/2020,00:40:00,BROOKLYN,75,0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1015238,180730,40.662693,-73.888307,POINT (-73.88830715999995 40.66269280500006)
4,218560117,09/30/2020,21:07:00,BROOKLYN,75,2,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,BLACK,1019084,183993,40.671635,-73.874428,POINT (-73.87442765599997 40.671634710000035)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1496,216360325,08/09/2020,22:40:00,BROOKLYN,79,2,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,18-24,M,BLACK,995619,190846,40.690506,-73.959006,POINT (-73.95900552099994 40.69050586900005)
1497,213748379,06/01/2020,19:14:00,BROOKLYN,83,0,NaN,False,18-24,M,BLACK,18-24,M,BLACK,1006880,190544,40.689655,-73.918400,POINT (-73.91840006999998 40.689655320000035)
1498,216927396,08/22/2020,06:00:00,QUEENS,113,0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1051329,196646,40.706179,-73.758061,POINT (-73.75806147399999 40.70617856900003)
1499,212640530,05/02/2020,19:50:00,QUEENS,114,0,NaN,False,NaN,NaN,NaN,18-24,M,WHITE HISPANIC,1009645,213978,40.753968,-73.908341,POINT (-73.90834136499996 40.753968462000046)
1500,213099073,05/14/2020,01:03:00,QUEENS,100,0,NaN,True,25-44,M,BLACK,18-24,M,BLACK,1036176,153315,40.587347,-73.813049,POINT (-73.81304853899996 40.58734650400004)

Filter out shootings which did not happen in Brooklyn (BROOKLYN)

In [14]:
shootings = shootings[shootings["BORO"] == 'BROOKLYN']
shootings

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
2,217540562,09/07/2020,02:49:00,BROOKLYN,71,0,NaN,False,<18,M,BLACK,45-64,F,BLACK,997889,182027,40.666297,-73.950838,POINT (-73.95083788699996 40.66629650100003)
3,217773056,09/12/2020,00:40:00,BROOKLYN,75,0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1015238,180730,40.662693,-73.888307,POINT (-73.88830715999995 40.66269280500006)
4,218560117,09/30/2020,21:07:00,BROOKLYN,75,2,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,BLACK,1019084,183993,40.671635,-73.874428,POINT (-73.87442765599997 40.671634710000035)
8,218567380,09/30/2020,01:52:00,BROOKLYN,60,0,COMMERCIAL BLDG,False,NaN,NaN,NaN,25-44,M,UNKNOWN,988584,150694,40.580303,-73.984399,POINT (-73.98439908599995 40.58030340400006)
9,217594075,09/08/2020,22:40:00,BROOKLYN,79,2,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,45-64,F,WHITE HISPANIC,998184,193621,40.698119,-73.949751,POINT (-73.94975054899999 40.698118935000025)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1490,214948388,07/05/2020,00:43:00,BROOKLYN,75,0,NaN,True,NaN,NaN,NaN,18-24,M,BLACK HISPANIC,1017869,184766,40.673761,-73.878804,POINT (-73.87880377199998 40.673761118000066)
1493,211964521,04/11/2020,19:58:00,BROOKLYN,77,0,NaN,True,NaN,NaN,NaN,25-44,M,BLACK,1004952,183648,40.670732,-73.925373,POINT (-73.92537341399996 40.67073208700003)
1495,214513455,06/23/2020,22:04:00,BROOKLYN,63,0,PVT HOUSE,False,NaN,NaN,NaN,25-44,U,BLACK,1004029,167694,40.626944,-73.928747,POINT (-73.92874748599996 40.62694393200008)
1496,216360325,08/09/2020,22:40:00,BROOKLYN,79,2,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,18-24,M,BLACK,995619,190846,40.690506,-73.959006,POINT (-73.95900552099994 40.69050586900005)
1497,213748379,06/01/2020,19:14:00,BROOKLYN,83,0,NaN,False,18-24,M,BLACK,18-24,M,BLACK,1006880,190544,40.689655,-73.918400,POINT (-73.91840006999998 40.689655320000035)

Drop all columns except position and add a weigth (constant)

In [15]:
shootings.drop(columns=['INCIDENT_KEY','OCCUR_DATE','OCCUR_TIME','BORO','PRECINCT','JURISDICTION_CODE','LOCATION_DESC','STATISTICAL_MURDER_FLAG','PERP_AGE_GROUP','PERP_SEX','PERP_RACE','VIC_AGE_GROUP','VIC_SEX','VIC_RACE','X_COORD_CD','Y_COORD_CD','New Georeferenced Column'], inplace=True)
shootings['Weight'] = weigth_shooting
shootings

       Latitude  Longitude  Weight
2     40.666297 -73.950838       8
3     40.662693 -73.888307       8
4     40.671635 -73.874428       8
8     40.580303 -73.984399       8
9     40.698119 -73.949751       8
...         ...        ...     ...
1490  40.673761 -73.878804       8
1493  40.670732 -73.925373       8
1495  40.626944 -73.928747       8
1496  40.690506 -73.959006       8
1497  40.689655 -73.918400       8

[636 rows x 3 columns]

In [16]:
crimes = pd.concat([arrests, shootings])
crimes.rename(columns = {'New Georeferenced Column':'location'}, inplace = True) 
crimes.to_csv('./../data/prepared/crimes.csv', ';')
crimes

       Latitude  Longitude  Weight
0     40.655693 -73.899409       5
5     40.609419 -73.929692       2
6     40.707934 -73.928931       2
7     40.674583 -73.930222       5
10    40.579208 -73.981941       2
...         ...        ...     ...
1490  40.673761 -73.878804       8
1493  40.670732 -73.925373       8
1495  40.626944 -73.928747       8
1496  40.690506 -73.959006       8
1497  40.689655 -73.918400       8

[28598 rows x 3 columns]